<section class="middle">
  <div class="container" id="main">
    <div id="brand_list" class="listnhasx">
      <h2>
          Category list admin | <a  [routerLink]="['/admin/category-add']" class="float-end">Add category</a>
      </h2>
      <div id="data">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Tên Sản Phẩm</th>
                      <th scope="col">Chức Năng</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of categories; index as i">
                <td>{{i+1}}</td>
                <td>{{category.name}}</td>
                <td>
                  <a class="btn btn-warning px-3 me-1" [routerLink]="['/admin/category-edit', category._id]" routerLinkActive="router-link-active">Edit</a>
              <button idnsx="1" class="btn btn-danger px-3 btnxoa" (click)="onDelete(category._id)">Delete</button>

                </td>
             </tr>
              </tbody>
          </table>
      </div>
      </div>
  </div>
  </section>